*out
*logs
*actions
*notifications
*tools
plugins
user_trunk.yaml
user.yaml
tmp
assets/img/gallery_two

# A great Git commit subject line completes the following sentence: If applied, this commit will 